
#titulo{
    display: flex;
    justify-content: center;
    color: blueviolet;
}

#ladoesquerdo{
    width: 25%;
    height: 80vh;
    border: 3px solid red;
}

#ladodireito{
    width: 25%;
    height: 80vh;
    border: 3px solid yellow;
}

#corpo{
    display: flex;
    justify-content: space-around;
}